body {
    background: url('../img/donuts.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    background: url('../img/sprinkles.jpg');
    background-size: auto;
}

.title1 {
    font-weight: bold;
    font-size: 4rem;
}

.title2 {
    font-weight: bold;
    font-size: 2rem;
}
.counter {
    display: table-cell;
    text-align: center;
    margin:2.0%;
    font-size:60px;
    background-color: grey;
    width:150px;
    border-radius: 50%;
    height:145px;
    vertical-align: middle;
    padding-top: 3.4%;
  }
